<%- include('./partials/header') %>
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h4><%= post.title %></h4>
      </div>
      <div class="card-body">
        <p class="card-text"><%= post.content %></p>
        <p class="card-text"><%= post.author %></p>
      </div>
    </div>
  </div>
  <%- include('./partials/footer') %>