<%- include('./partials/header') %>

<div class="blog-container">
  <% posts.forEach((post, index) => { %>
    <section class="blog-slide <%= index === 0 ? 'active' : '' %>">
      <div class="blog-card">
        <img src="/<%- post.thumbnail %>" alt="" class="thumbnail">
        <div class="card-body">

          <h2 class="blog-title"><%= post.title.substring(0, 15) %>...</h2>
          <!-- <p class="blog-content"><%= post.content %></p> -->
        <p class="blog-content-short"><%- post.content.substring(0, 30) %>...</p>
        <p class="blog-author">By <%= post.author %></p>
        <p> <%= post.batch %></p>
        <a href="blog/<%= post.slug %>" class="read-more">View Post</a>
      </div>
    </div>
    </section>
  <% }) %>
</div>

<%- include('partials/footer') %>
<script src="/scroll.js"></script>
